body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  .content {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  li {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  